:80 {
	root * /var/www/html/
	file_server * browse

	log {
		output file /var/log/caddy/access.log
		format transform `{request>remote_ip} - {request>user_id} [{ts}] "{request>method} {request>uri} {request>proto}" {status} {size} "{request>headers>Referer>[0]}" "{request>headers>User-Agent>[0]}"` {
			time_format "02/Jan/2006:15:04:05 -0700"
		}
	}
}

:7890 {
	root * /var/www/goaccess/
	file_server * browse

	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets goaccess:7890

	log {
		output discard
		format console
	}
}
