:80 {
	root /var/www/html/

	log / /var/log/caddy/access.log {combined} {
		rotate_size 100
		rotate_age 180
		rotate_keep 10
		rotate_compress
	}
	errors /var/log/caddy/error.log {
		rotate_size 100
		rotate_age 180
		rotate_keep 10
		rotate_compress
	}
}

:7890 {
	root /var/www/goaccess/

	rewrite {
		if {>Upgrade} is websocket
		to /websocket/
	}

	proxy /websocket/ http://goaccess:7890 {
		websocket
	}

	log / /dev/null
	errors /dev/null
}
